* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --pc: #4891ff;
    --lc: #e4e4e6;
    --dc: #111;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Navbar */
.navbar {
    background: #fff;
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 120px;
    width: 120px;
}

.logo-m img {
    height: 60px;
    width: 60px;
}

.navbar .navigation ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--pc);
}

.navbar ul li:last-child a {
    margin-left: 10px;
}

.navbar ul li a i {
    margin-right: 5px;
}

/* Start */
.start {
    margin-bottom: 50px;
}

.start .container {
    display: flex;
}

.start .start-content {
    width: 60%;
}

.start .start-text {
    width: 60%;
    margin-bottom: 50px;
    margin-top: 10%;
    text-align: center;
}

.start .start-button {
    width: 60%;
    text-align: center;
}

/* Projects */
.projects {
    padding: 40px 0;
}

.projects .projects-heading {
    margin-bottom: 40px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}

.projects .panel h3 {
    font-weight: bold;
    margin-bottom: 5px;
}

.projects .panel p:last-child {
    margin-top: 20px;
}

.projects .panel a:last-child {
    text-decoration: underline;
}

/* Footer */
.footer {
    padding: 40px 0;
}

.footer h4 {
    margin-bottom: 10px;
}

.footer ul li {
    line-height: 2.5;
}

.footer a {
    color: #aaa;
}

.footer .panel p {
    margin-bottom: 10px;
}

.footer .contacts p {
    line-height: 2.5;
}

.footer i {
    font-size: 1.5rem;
    margin-right: 10px;
    margin-top: 10px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    gap: 30px;
    align-items: center;
}

/* Frame */

body.no-scroll {
    overflow: hidden;
}

body.map {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.frame-container {
    height: calc(100vh - 105px);
}

iframe {
    width: 100%;
    height: 100%;
}

/* error */
.error {
    padding-top: 100px;
    height: 1000px;
}

.error-button {
    padding-top: 25px;
}

/* Utility classes */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-s {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Buttons */
.button {
    display: inline-block;
    padding: 13px 20px;
    background: var(--pc);
    color: var(--lc);
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5;
}

.button:hover {
    opacity: 0.8;
}

.button-lc {
    background: var(--lc);
    color: var(--dc);
}

.button-dc {
    background: var(--dc);
    color: var(--lc);
}

/* Text classes*/
.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 40px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 40px;
}

.text-l {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30 0 40;
}

.text-m {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20 0 20;
}

.text-s {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10 0 10;
}

.text-center {
    text-align: center;
}

/* Background */
.background-lc {
    background: var(--lc);
    color: #333;
}

.background-dc {
    background: var(--dc);
    color: #fff;
}

.background-bc {
    background: #000;
    color: #fff;
}

/* Panel */
.panel {
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px;
}

/*Hamburger Button */
.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.hamburger-button .hamburger-line {
    width: 30px;
    height: 3px;
    background: #333;
    margin: 6px 0;
}

/* Hamburger Navigation */
.hamburger-navigation {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
}

.hamburger-navigation.active {
    right: 0;
}

.hamburger-navigation ul {
    margin-top: 120px;
    padding-right: 10px;
}

.hamburger-navigation ul li {
    margin: 5px 0;
    text-align: right;
}

.hamburger-navigation ul li:nth-child(4) {
    margin: 15px;
    text-align: center;
}

.hamburger-navigation ul li a {
    font-size: 20px;
    transition: 0.3s;
}

/* Media Queries */
@media (max-width: 760px) {

    /* Navbar */
    .navbar .navigation {
        display: none;
    }

    .navbar .hamburger-button {
        display: block;
    }

    /* Start*/
    .start .container {
        display: block;
    }

    .start .start-content {
        width: 100%;
        text-align: center;
    }

    .start .start-text {
        width: 100%;
    }

    .start .start-button {
        width: 100%;
        margin-bottom: 40px;
    }

    /* Projects */
    .projects-grid {
        grid-template-columns: 1fr;
    }

    /* Footer */
    .footer .footer-grid {
        grid-template-columns: 1fr;
    }

    .footer .logo {
        text-align: center;
    }

    .footer .menu,
    .footer .contacts {
        text-align: center;
    }

    /* Error */
    .error .container {
        text-align: center;
    }
}